@layer components {
    .test {
      color: red;
    }
  }

.underline-animation:hover{
  @apply text-primary;
}

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease-in-out;
  transform-origin: left;
}
.underline-animation:hover::after {
  width: 100%;
  @apply bg-primary;
}
